body {
    color: #333;
    text-align: center;
    font-family: 'helvetica', arial, sans-serif;
    font-weight: bold;
}
.stock {
    border: 10px solid #333;
    height: 200px;
    width: 250px;
    float: left;
    margin: 10px;
}
.stock-info {
    width: 240px;
    height: 200px;
    float: left;
}
.stock-chart table {
    padding: 40px 10px 20px;
}
.stock-name {
    height: 40;
    font-size: 30px;
    padding-top: 10px;
}
.stock-price {
    height: 100;
    font-size: 90px;
}
.stock-order {
    height: 50;
    font-size: 30px;
}
.sell .stock-price, .sell .stock-order {
    color: red;
}
.buy .stock-price, .buy .stock-order {
    color: green;
}
